/* App.css */

#app-container {
    padding: 0;
    background-color: #2e2e2e;
}

#message-container {
    background-color: #3b3b3b;
}

.text-user {
    #text-align: right;
}

.text-chatbot {
    background-color: #617eb8;
}

#send-btn {
    background-color: #3a65ba;
    //height: 40px;
}

.user-input {
    resize: none;
}