/* App.css */

#app-container {
    padding: 0px;
    background-color: #2e2e2e;
}

#message-container {
    background-color: #3b3b3b;
}

.text-right {
    background-color: #617eb8;
    text-align: right;
}

.text-left {

}